@charset "utf-8";
/* CSS Document */

/* Theme horror vacui  */

html { 
  box-sizing: border-box; 
} 

*, ::before, ::after { 
  box-sizing: inherit; 
}

html {
	background: white;
	color: #222;	
    font: normal 1em Arial, sans-serif;  /* Mindestschriftgröße wird dem Browser, bzw. dem Nutzer überlassen! */
}

body {
  margin: 0 auto;
  padding: 0;
}

body > * {
  padding: 1em;
  margin: 1em 0;
}

/* header - Seitenkopf */

header {
  margin: 0;
  padding: 0;
}

/* Navigation  - zuerst untereinander. Das geht auch mit einem Raster mit EINER Spalte. Umgeschaltet wird ab 30em Breite (Zeile ...) */

nav {
}

nav ul {
	list-style-type: none;
}

nav a {
	display: block;	
	background: black;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 0.5em;
	margin: 0.5em;
}

nav a:hover,
nav a:focus {
	background:#666;
}

nav a[aria-current=page]{
	font-weight: bold;;
}

/* Inhalt */

a {
	color: #09c
}

a:hover, a:focus {
	background: #e6f2f7 ;
}

#news {
	background: #ffebe6;
	border: 2px dashed #c32e04;	
}

#news h2 {
	color: #c32e04;
}	

#navigation ul {
  list-style-type: none;
}

#navigation button {
	width: 10em;
}

footer {
	background: black;
	color: white;
  	margin: 0;
}

footer p:last-child {
	text-align: right;
}

a[href^="tel"] { white-space: nowrap; }


@media (min-width: 30em) { 
	nav {
		background: black;
	}
	nav ul {
		max-width: 40em;
		margin: 0 auto;
	}	
	
	nav a {
		margin: 0;
	}
		
	.galerie > figure {
		margin: 0;
		padding: 0;
	}
	
	.galerie img {
		width: 100%;
	}	
}

@media (min-width: 40em) { 
	body {
  		min-height: 100vh;		
	}
		
	#index img {
		width: 33%;
		float: right;
		margin-left: 1em;
	}
}

/* Terminkalender */

table, th, td { 
  width: 100%;
  border: 0px solid; 
  border-collapse: collapse; 
}

th, td {
	padding: .5em;
}

th {
	background: #ffebe6;
	border: 1px solid #c32e04;
	color: #c32e04;
}

td {
	border-bottom: 1px solid #c32e04;
}

caption {
	caption-side: bottom;
	padding-top: 4em;
	font-size: .75em;
}
