/* https://www.cssfontstack.com/Web-Fonts */
@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Baumans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Playball);



@charset "utf-8";
/* CSS Document */

/* Grundlayout für SELFHTML-Beispiele */

@import url(https://fonts.googleapis.com/css?family=Audiowide);

html {
  background: #000;
  color: #eee;	
  font-family: Audiowide;
}
div {
margin-bottom: 2em;
}
li {
	color: red;
}
article { font-family: "Bowlby One SC"; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 26.4px; } h3 { font-family: "Bowlby One SC"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Bowlby One SC"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Bowlby One SC"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Bowlby One SC"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
body {
  margin: 1em auto;
  max-width: 65em;
}

h1, main, aside, main svg {
  padding: 1em;
  margin: 1em;
}

h1, h2 {
  color: hsl(90,100%,49%);
  background: linear-gradient(to right, transparent, hsl(73,100%,55%));
  font-family: Audiowide;
}

article img {
  width: 33%;
  margin-left: 0.5em;
}

figure figcaption {
  font-style: italic;
}

#navigation button {
  width: 9em;
  margin-bottom: 0.2em;
  background: radial-gradient(hsl(150,100%,98%), transparent 20%);
  color: black;
  border: 0;
}

nav a {
  background: radial-gradient(hsl(73,100%,22%), transparent 50%);
  color: black;
}

nav a:hover, nav a:focus {
  background: radial-gradient(hsl(73,100%,55%), transparent 80%);
}

nav a[aria-current=page] {
	color:red;
	border-color: black;
}

header, nav, nav a, article, section, aside, footer {
  padding: 1em;
  margin: 1em;
}

nav, nav ul, nav li{
  margin: 0;
  padding: 0;
  border: none;
}

nav li {
  list-style-type: none;
  margin: 1.3em 0;
}

nav a {
  display: inline-block;
  width: 95%;
  margin: 0;
  text-decoration: none;
  text-align: center;
}



/* Large screens */
@media all and (min-width: 50em) {
  #news {
    align-self: center;
    height: 12em;
  }
}

@keyframes ants { to { background-position: 100% 100% } }

article {
	padding: 1em;
	border: 1em solid transparent;
	background: linear-gradient(black, black) padding-box,
	            repeating-linear-gradient(-45deg, black 0, black 25%, orange 0, orange 50%) 0 / 2em 2em;
	animation: ants 60s linear infinite;
}

th, td {
  border: 2px solid lime;
}
table {
  border-collapse: collapse;
}
.quelle {
color: #1E90FF;
}